.array-container {
  width: 70%;
  margin-left: 300px;
  height: auto;
}

#button2 {
  margin-left: 20px;
}
#button3 {
  margin-left: 20px;
}
#button4 {
  margin-left: 20px;
}
#button5 {
  margin-left: 20px;
}
#button6 {
  margin-left: 20px;
}

.array-bar {
  width: 2px;
  display: inline-block;
  background-color: blue;
  margin: 0 1px;
}

.title {
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 30px;
}

.sliderContainer {
  width: 30%;
  display: inline-block;
  margin-left: 5px;
}
.slider {
  width: 30%;
  display: inline-block;
}
